html{
  font-size: 1em;
  line-height: 1.125em;
/**  padding-left: 1.125em;
*  padding-right: 1.125em;
*/
  background-color:#202020;
}

h1{
  color:#6666cc;
  font-size: 2em;
  line-height: 2.25em;
  font-family:impact;
  text-align: center;
  padding-bottom:1.125em;
}
h2{
  color:#8888bb;
  font-size: 1.625em;
  font-family:helvetica;
  text-align: center;
  margin-bottom: .875em;
}
p{
  color:#e4e4e4;
  font-family:Lora;
}
h3{
  /*padding-left: 1.5em;
  */
  padding-bottom: .703125em;
  color:#9999aa;
  font-size: 1.375em;
  line-height: 1.546875;
  font-family:helvetica;
}
h4{
  /*margin-left:1.375em;
*/
  padding-bottom:.2701125em;
  padding-top: .5625em;
  color:#aaaaff;
  font-size: 1.2599em;
  line-height: 1.4173875;
}
footer{
  padding-top: .5625em;
  padding-bottom: .5625em;
  /*padding-left:1em;
  */
  clear:both;
}
img{
  max-width: 95%;
  max-height: 95%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.yume-nikki{
  background-color: #000000;
  width: 100%;
  padding-left:1em;
  padding-right:1em;
  box-sizing: border-box;
}
#yume p{
  color:#ffccff;
  font-family: 'Arima Madurai', cursive;
}
#yume h2{
  color:#eeccee;
  font-family: 'Coiny', cursive;
}
#yume h1{
  color:#ffeeff;
  font-family: 'Coiny', cursive;
}
#yume h3{
  color:#ffdfff;
  font-family: 'Coiny', cursive;
}
.meta-games{
  background-color: #ff8800;
  width:100%;
  padding-left:1em;
  padding-right:1em;
  box-sizing: border-box;
}
#meta p{
  color:#000000;
  font-family: 'IBM Plex Mono', monospace;
}
#meta h1,h2,h3,h4{
  color:#ffffff;
  font-family: 'Righteous', cursive;
}
.horror-games{
  background-color: #000000;
  width:100%;
  padding-left:1em;
  padding-right:1em;
  box-sizing: border-box;
}
#horror p,h1,h2,h3,h4{
  color:#ffffff;
  border:none;
  font-family: 'Carrois Gothic SC', sans-serif;
}
#horror figure{
  color:#ffffff;
}
@media screen and (min-width: 1100px){
  .yume-nikki{
    float: left;
    width:36%;
  }
  .meta-games{
    float: left;
    width:34%;
  }
  .horror-games{
    float: left;
    width:30%;
  }
}
video{
  max-width: 25.59375em;
  max-height: 14.625em;
  display: inline-block;
  vertical-align: middle;
  padding-top: .5625em;
  padding-bottom: .5625em;
}
@font-face{
  font-family: 'Lora';
font-style: normal;
font-weight: 400;
src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.
  com/s/lora/v12/0QIvMX1D_JOuMwr7Iw.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC');
#footing ul{
  list-style:none;
  padding: 0em;
}
#footing a:link{
  color:#eeeeee;
  background-color: #262626;
  text-align: center;
  display: inline-block;
  width:100%;
  line-height: 2.25em;
}
#footing a:visited{
  color:#bbbbee;
}
#footing a:hover{
  color:#cf9930;
  background-color: #111111;
  cursor:pointer;
}
#footing a:active{
  color:#df9930;
}
**
*It seems like some fonts refuse to be called is it the shared catagory?
*/




**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

body {
    position: relative;
}

body::after {
    /* Change the `height` parameter here to match your base line-height. */
    background: url('data:image/svg+xml;utf8,<svg height="18" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(0, 255, 255, 0.3)" /></svg>') repeat top left;

    content: "";
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99990;
    position: absolute;
}

body:active::after {
    display: none;
}
