html{
  font-size: 1em;
  line-height: 1.125em;
  padding-left: 1.125em;
  padding-right: 1.125em;
}

h1{
  color:#6666cc;
  font-size: 2em;
  line-height: 2.25em;
  font-family:impact;
  text-align: center;
  padding-bottom:2.25em;
}
h2{
  color:#8888bb;
  font-size: 1.625em;
  font-family:helvetica;
  text-align: center;
  margin-bottom: .875em;
}
p{
  color:#e4e4e4;
  font-family:Lora;
}
h3{
  padding-left: 1.5em;
  padding-bottom: .703125em;
  color:#9999aa;
  font-size: 1.375em;
  line-height: 1.546875;
  font-family:helvetica;
}
h4{
  margin-left:1.375em;
  padding-bottom:.2701125em;
  padding-top: .5625em;
  color:#aaaaff;
  font-size: 1.2599em;
  line-height: 1.4173875;
}
html{
  background-color:#202020;
}
body{
  background-color: #2d2d2d;
}
footer{
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #2f2f2f;
  clear:both;
}
img{
  max-width: 95%;
  max-height: 95%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.yume-nikki{
  background-color: #000000;
  width: 100%;
  padding-left:5em;
  padding-right:5em;
}
#yume p{
  color:#ffccff;
}
#yume h2{
  color:#eeccee;
}
#yume h1{
  color:#ffeeff;
}
#yume h3{
  color:#ffdfff;
}
.meta-games{
  background-color: #ff8800;
  width:100%;
  padding-left:5em;
  padding-right:5em;
}
#meta p{
  color:#000000;
}
#meta h1,h2,h3,h4{
  color:#ffffff;
}
.horror-games{
  background-color: #000000;
  width:100%;
  padding-left:5em;
  padding-right:5em;
}
#horror p,h1,h2,h3,h4{
  color:#ffffff;
  border:none;
}
@media screen and (min-width: 800px){
  .yume-nikki{
    float: left;
    width:35%;
    padding:.5625;
  }
  .meta-games{
    float: left;
    width:30%;
    padding:.5625;
  }
  .horror-games{
    float: left;
    width:25%;
    padding:.5625;
  }
}
@font-face{
  font-family: 'Lora';
font-style: normal;
font-weight: 400;
src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.
  com/s/lora/v12/0QIvMX1D_JOuMwr7Iw.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
